/*
|----------------------------------------------------------------------------
|	Imminent - Coming Soon Responsive HTML5 Template Main CSS
|	Author: MGScoder
|	Author URL: https://themeforest.net/user/mgscoder
|	Version: 3.2
|----------------------------------------------------------------------------
*/

/*
|------------------------------------------------------------------
	[Table of contents]:

	1. FONTS
	2. BODY
	3. COMMON CSS
	4. Main front landing page / #Main
		4.1. Carousel Slider
	5. Subscribe /  #mc-form
	6. Services / #Services
	7. Contact / #myContact
	8. Overlay / .overlay
	9. SOCIAL
	10. Button / .btn-custom
	11. Responsive
	
|-------------------------------------------------------------------
*/

/*
|----------------------------------------------------------------------------
	1. FONTS: Google Font
|----------------------------------------------------------------------------
*/
@import url(../../../css);

/*
|----------------------------------------------------------------------------
	2. BODY
|----------------------------------------------------------------------------
*/
html, body {	
	height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
	background-color: #999;
	font-family: 'Droid Sans', sans-serif;
	font-size: 18px;
	line-height: 1.725;
}

/*
|----------------------------------------------------------------------------
	3. COMMON CSS
|----------------------------------------------------------------------------
*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}
a {
    color: #fff;
	text-decoration: none;
}
a:hover {
    color: #f49502;
}
#particles-js {
    height: 98%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.logo {
    margin: 0 auto;
    max-width: 198px;
    max-height: 24px;
    padding: 0 15px;
    width: 100%;
}
.overlay-content {
	background-color: rgba(0, 0, 0, 0.7);
	background-image: url(../images/bg_mask.png);
    display: table;
    height: 100%;
    width: 100%;
}
.content {
    color: #fff;
    display: table-cell;
	padding: 30px 0;
	vertical-align: middle;
}
.content-inner {
    margin: 0 auto;
    max-width: 850px;
    padding: 0 15px;
    width: 100%;
}
.title-box::before {
    background: #f49502;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    margin: 0 0 -2px;
    position: absolute;
    width: 40px;
}
.title-box {
    border-bottom: 2px solid #fff;
    margin: 0 0 30px;
    position: relative;
	text-transform: uppercase;
}
.content-inner > p {
    margin: 0 0 20px;
}

/*
|----------------------------------------------------------------------------
	4. Main front landing page / #Main
|----------------------------------------------------------------------------
*/
#Main.overlay.slide-dowun {
	-webkit-transform:translateY(100%);
    -moz-transform:translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
	transform: translateY(100%);
}
#Main.overlay.slide-up {
	-webkit-transform:translateY(-100%);
    -moz-transform:translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
	transform: translateY(-100%);
}
#Main.overlay {
	background-attachment: fixed;
	background-size:  cover;
	background-image: url(../images/vaarahi1.jfif) ;
	background-position: center center;
	background-repeat:  no-repeat;
	text-align: center;
	-webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
	transform: translateX(0);	
}
#Main h1 {
    font-size: 42px;
    font-weight: bold;
    margin: 10px 0 30px;
	text-transform: uppercase;
}
.coming-soon-count {
    margin: 30px 0 25px;
}
.is-countdown {
	background: none;
}
.countdown-rtl {
	direction: rtl;
}
.countdown-holding span {
	color: #888;
}
.countdown-row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.countdown-section::before {
    border: 2px solid #f49502;
    border-radius: 8px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
	-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 100%;
}
.countdown-section {
    border-radius: 5px;
    display: inline-block;
    height: 120px;
    margin: 22px 15px 30px;
    padding: 24px 0;
	position: relative;
    width: 120px;
}
.countdown-amount { 
	font-size: 36px;
	font-weight: bold;
    line-height: 1.1;
}
.countdown-period {
    font-size: 18px;
    display: block;
}
.social-holder .list-inline.list-social {
    padding: 6px 0 0;
}

/*
|----------------------------------------------------------------------------
	4.1. Carousel Slider 
|----------------------------------------------------------------------------
*/
#textCarousel {
    background-color: rgba(119, 119, 119, 0.6);
    border: 1px solid #777777;
    border-radius: 8px;
    color: #f49502;
    margin: 30px 0 0;
    padding: 10px 20px;
}
#textCarousel .carousel-control {
	margin-top: -7px;
	width: 10%;
}
#textCarousel .carousel-control.left, #textCarousel .carousel-control.right {
	background: none;
	opacity: 0;
}
#textCarousel:hover .carousel-control.left, #textCarousel:hover .carousel-control.right {
	opacity: 1;
}
#textCarousel .carousel-inner > .item {
	margin: 0 5%;
}
#textCarousel .banner-title-text {
    margin: 5px 0 10px;
}
#textCarousel .sub-title {
	color: #fff;
	margin: 0;
}

/*
|----------------------------------------------------------------------------
	5. Subscribe /  #mc-form
|----------------------------------------------------------------------------
*/
.mc-form-holder {
    margin: 30px auto 0;
}
.mc-form-holder > p {
	font-size: 16px;
	margin-bottom: 20px;
}
.mc-form-holder > #mc-form {
    margin: 0 auto;
    max-width: 360px;
	position: relative;
}
#mc-form .form-control {
    background-color: transparent;
    border: 1px solid #f49502;    
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    color: #fff;	
    display: inline;
    height: 34px;
    padding: 3px 10px 5px;
    vertical-align: top;
	width: 79%;
	position: relative;
}
#mc-form .form-control:focus {
    border-color: #3e3e3e;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.075) inset, 0 0 6px 0 #f49502;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.075) inset, 0 0 6px 0 #f49502;
    outline: 0 none;
}
#mc-form .btn {
    background-color: #f49502;
    border: medium none;
    border-radius: 0 4px 4px 0;
    box-sizing: border-box;
    color: #fff;
    display: inline;
    font-family: "Font Awesome 6 Free";
	font-weight: bold;
    font-size: 18px;
    height: 34px;
    margin: 0 0 0 -6px;
	padding: 0;
    text-align: center;
    -webkit-transition: all 0.23s ease-in-out 0s;
    -moz-transition: all 0.23s ease-in-out 0s;
    -ms-transition: all 0.23s ease-in-out 0s;
    -o-transition: all 0.23s ease-in-out 0s;
    transition: all 0.23s ease-in-out 0s;
    width: 20%;
}
#mc-form .btn:hover {
    opacity: 0.9;
}
#mc-form label {
    font-size: 16px;
    font-weight: normal;
    left: 0;
    position: absolute;
    top: 35px;
	line-height: 1.2;
}
#mc-form .error {
    color: #d22d2d;
}
#mc-form .valid {
    color: #37a000;
}

/*
|----------------------------------------------------------------------------
	6. Services / #Services
|----------------------------------------------------------------------------
*/
#Services.overlay.show {
	-webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
#Services.overlay { 
	background-attachment: fixed;
	background-size:  cover;
	background-image: url(../images/vaarahi1.jfif) ;
	background-position: center center;
	background-repeat:  no-repeat;
	-webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}
.Services-box {
    text-align: center;
}
.service-item {
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 10px;
	min-height: 194px;
    margin: 0 0 30px;
    padding: 30px 15px;
}
.service-item i {
    border-radius: 50%;
    line-height: 80px;
	-webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
	-webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    -ms-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    width: 80px;
}
.service-item:hover i {
	background-color: #fff;
    color: #f49502;
	-webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
	-webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    -ms-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
}
.service-item img {
    max-width: 100%;
	margin-top: 10px;
}
.service-item h3 {
    font-size: 24px;
}

/*
|----------------------------------------------------------------------------
	7. Contact / #myContact
|----------------------------------------------------------------------------
*/
#myContact.overlay.show{
	-webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
#myContact .contact-details li i.fa {
    margin-right: 10px;
}
#contactForm {
    padding-top: 10px;
}
#myContact.overlay {
	background-attachment: fixed;
	background-size:  cover;
	background-image: url(../images/vaarahi1.jfif) ;
	background-position: center center;
	background-repeat:  no-repeat;
	-webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}
.contact-details ul {
    margin: 30px 0;
}
.contact-details ul.list-unstyled li {
	margin: 5px 0;
	font-size: 16px;
}
.contact-details ul.list-unstyled li i.fa-fw {
	padding-right: 30px;
}
.contact-details .fa.fa-fw {
	text-align: left;
}
.form-group {
    position: relative;
	width: 100%;
    margin-bottom: 25px;
}
.form-control {
    /* background-color: rgba(0, 0, 0, 0.5); */
    border-color: #777777;
    padding-left: 50px;
    font-size: 16px;
	color: #fff;
}
.input-group-icon {
    position: absolute;
	top: 0;
}
.form-group .input-group-icon {
    background-color: #777777;
    border: 0 none;
	border-radius: 4px;
	border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    color: #fff;
    font-size: 14px;
	height: 100%;
    padding: 4px 7px;
    text-align: center;
	-webkit-transition:all 0.2s ease 0s;
    -moz-transition:all 0.2s ease 0s;
    -ms-transition:all 0.2s ease 0s;
    -o-transition:all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    white-space: nowrap;
    width: 40px;
}
.form-control:focus + .input-group-icon{
    background: #f49502;
    color: #ffffff;
}
.form-control:focus {
    border-color: #f49502;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.075) inset, 0 0 6px 0 #f49502;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.075) inset, 0 0 6px 0 #f49502;
}
#contactForm span.sub-text {
    font-size: 14px;
	color: #ff0000;
    position: absolute;
    right: 15px;
	top: -20px;
}
.has-error .form-control {
    border-color: #d10808;
}
.has-error .input-group-icon {
    background: #d10808;
    color: #ffffff;
}
.has-error .form-control:focus {
    border-color: #d10808;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.075) inset, 0 0 6px 0 #d10808;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.075) inset, 0 0 6px 0 #d10808;
}
.has-error .form-control:focus + .input-group-icon {
    background: #d10808;
    color: #ffffff;
}
#contactForm .btn.btn-custom {
    margin: 0;
}
#mailchimpSubmit.h3.text-danger {
    margin: 5px 0;
	font-size: 18px;
}
.h3.text-danger {
    margin: 0 0 30px;
	font-size: 18px;
}
#contactForm .help-block {
	font-size: 16px;
    color: #d10808;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 42px;
    position: absolute;
    top: -24px;
}
#contactForm .text-success {
    color: #57d524;
}
form .text-danger {
    color: #d10808;
}
#contactForm .btn.disabled {
    opacity: 1;
	pointer-events: auto;
}

/*
|----------------------------------------------------------------------------
	8. Overlay / .overlay
|----------------------------------------------------------------------------
*/
.overlay {
    background-color: rgba(0,0,0, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
	-webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}
.overlay a.closebtn {
	color: #fff;
    text-decoration: none;
	-webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.overlay a.closebtn:hover, .overlay a.closebtn:focus {
    color: #f49502;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
	z-index: 99999;
}

/*
|----------------------------------------------------------------------------
	9. SOCIAL
|----------------------------------------------------------------------------
*/
.social-holder {
    margin-top: 30px;
	position: relative;
}
.social-holder > p {
    font-size: 18px;
    line-height: 1;
	font-weight: bold;
    padding-bottom: 15px;
}
.social-holder > p, .list-social {
    margin: 0;
    text-align: center;
}
.social-holder .list-inline.list-social > li {
    padding-left: 5px;
    padding-right: 5px;
	display: inline-block;
}
.social-icon {
	border-color: #fff;
	border-style: solid;
	border-width: 1px;	
	border-radius: 50%;
	color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: 28px;
    line-height: 28px;
    margin: 0;
    overflow: hidden;
    text-align: center;
    width: 28px;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;	
	transition: all ease 0.5s;
}
.social-icon:hover {
    border-color: transparent;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
	color: #fff;
	-webkit-transform:rotateY(360deg);
	-moz-transform:rotateY(360deg);
	-o-transform:rotateY(360deg);
	-ms-transform:rotateY(360deg);
	transform:rotateY(360deg);
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;	
	transition: all ease 0.5s;
}
.social-icon:focus {
	color: #fff;
}
.social-icon-facebook:hover {
    background-color: #3b5998;
}
.social-icon-twitter:hover {
    background-color: #00acee;
}
.social-icon-gplus:hover {
    background-color: #dd4b39;
}
.social-icon-linkedin:hover {
    background-color: #0077b5;
}
.social-icon-vimeo:hover {
    background-color: #1ca7cc;
}
.social-icon-pinterest:hover {
    background-color: #cb2027;
}

/*
|----------------------------------------------------------------------------
	10. Button / .btn-custom
|----------------------------------------------------------------------------
*/
.btn-holder {
    margin: 30px 0 0;
}
.btn {
    overflow: hidden;
}
.btn.btn-custom {
    margin: 0 10px 10px;
    min-width: 130px;
}
.btn-custom {
    background-color: #777777;
	border: 1px solid #777777;
    box-shadow: 0 0 1px transparent;
	color: #fff;
    display: inline-block;
	font-size:18px;
	padding: 6px 25px;
    position: relative;
	text-transform: capitalize;
	-webkit-transform: perspective(1px) translateZ(0px);
    -moz-transform: perspective(1px) translateZ(0px);
    -ms-transform: perspective(1px) translateZ(0px);
    -o-transform: perspective(1px) translateZ(0px);
    transform: perspective(1px) translateZ(0px);
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    vertical-align: middle;
}
.btn-custom::before {
    background-color: #f49502;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
	-webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50% 50% 0;
	-moz-transform-origin: 50% 50% 0;	
	-ms-transform-origin: 50% 50% 0;	
	-o-transform-origin: 50% 50% 0;	
    transform-origin: 50% 50% 0;
	-webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -ms-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
	z-index: -1;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom:active {
    border-color: #f49502;
    color: #fff;
}
.btn-custom:hover::before, .btn-custom:focus::before, .btn-custom:active::before {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
	transform: scaleX(1);
}
.btn-transparent {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}
#buy-now-fixed-box {
	position: fixed;
	right: 0;
	bottom: 20px;
	z-index: 1;
}

/*
|----------------------------------------------------------------------------
	11. Responsive
|----------------------------------------------------------------------------
*/
@media (max-width: 900px) {
	.overlay .closebtn {
		font-size: 40px;
		right: 15px;
		top: 10px;
	}
}
@media screen and (max-width: 767px) {
	.countdown-amount {
		font-size: 32px;
	}
	.countdown-section {
		height: 95px;
		margin: 10px;
		padding: 12.5px 0;
		width: 95px;
	}
}
@media screen and (max-width: 540px) {
	.countdown-section {
		margin: 8px;
	}
}
@media screen and (max-width: 480px) {
	.col-sm-4.col-xs-6 {
		width: 100%;
	}
	.countdown-amount {
		font-size: 36px;
	}
	.countdown-section {
		height: 120px;
		margin: 15px;
		padding: 23px 0;
		width: 120px;
	}
}
@media screen and (max-width: 340px) {
	#Main h1 {
		font-size: 32px;
	}
	.countdown-amount {
		font-size: 32px;
	}
	.countdown-section {
		height: 100px;
		margin: 8px;
		padding: 15px 0;
		width: 100px;
	}
}